# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  name: 'myagent'

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'git clone https://github.com/IntelliqDevops/maven.git'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'cd /home/azureuser/myagent/_work/2/s;mvn package'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
       cat <<EOF > Dockerfile
       FROM tomee
       COPY webapp/target/webapp.war /usr/local/tomee/webapps/myapp.war
       EOF
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'docker build -t intelliq.azurecr.io/javaapp .'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'docker push intelliq.azurecr.io/javaapp'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'ssh azureuser@68.154.48.49 ansible-playbook deploy_container_qa.yml -b'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'git clone https://github.com/IntelliqDevops/FunctionalTesting.git'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'java -jar /home/azureuser/myagent/_work/2/s/FunctionalTesting/testing.jar'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: "ssh azureuser@68.154.48.49 ansible-playbook delete.yml -b"
- task: KubernetesManifest@1
  inputs:
    action: 'deploy'
    connectionType: 'azureResourceManager'
    azureSubscriptionConnection: 'Azure subscription 1(76c3a997-c17e-4d9d-95f9-b76d0a5cf28b)'
    azureResourceGroup: 'myk8s'
    kubernetesCluster: 'cluster-1'
    manifests: 'newapp.yml'